@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
span,
div,
p,
input {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.flex_50 {
  flex: 0 0 50%;
  max-width: 50%;
}

.flex_20 {
  flex: 0 0 20%;
  max-width: 20%;
}

.flex_80 {
  flex: 0 0 80%;
  max-width: 80%;
}

.btn {
  background-color: #40a578;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
}
